@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik-Vinyl';
  src: url('./fonts/RubikVinyl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
